body {
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;

    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

footer{ 
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:100px; 
  }

h1,
h2,
h3 {
    line-height: 1.2
}

.generated-name {
    color: #72477F;
    padding-top: 1em;
    font-size: 2em;
    font-family: 'Comic Sans MS', 
        Papyrus,
        fantasy; 
}

.hidden {
    visibility:hidden;
    display: none;
}

.icon-link .icon {
    color: #444;
}

a:link {
    color: #6cc0e5;
}
